// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Clearfix

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

* { 
-moz-ring-sizing: border-ring; 
-webkit-ring-sizing: border-ring; 
ring-sizing: border-ring; 
box-sizing: border-box 
}

// Variables


// Article index page

body {
	background: #FFFFFF;
}



.wrapper {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	width: 80%;
	height: 900px;
}
	
aside {
	margin: 0;
	width: 18%;
	height: 100px;
	position: fixed;
	header {
		margin-top: 60px;
		border-top: 2px solid #f6f6f6;
		padding-right: 4px;
		h1 {
			text-align: right;
			font-family: 'Montserrat', sans-serif;
			font-size: 2.688em;		
			letter-spacing: 0px;
			line-height: 1.023em;
			color: #3b3b3b;
		}
		h3 {
			color: #3b3b3b;
			font-family: 'Imprima', sans-serif;				
			font-style: italic;
			font-size: 16px;
			text-align: right;
		}
	}
}

section {
	border-top: 1px solid #F7CE56;
	margin-top: 60px;
	float: right;
	width: 70%;
	height: 1100px;
	display: inline-block;
}


.article-container {
	width: 250px;
	height: 400px;
	display: inline-block;
	overflow: hidden;
	transition: 1s;
	border-radius: 7px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	.article-head {
		display: block;
		padding-left: 15px;
		padding-right: 15px;
		height: 100px;
		padding-top: 10px;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.42em;		
		letter-spacing: 0px;
		line-height: 1.023em;
		color: #3b3b3b;
		border-bottom: 3px solid #f6f6f6;
		text-align: center;
		background: #edf9ff;
	}
	a {
		text-decoration: none;
		color: #3b3b3b;
	}
	p {
		padding-left: 14px;
		padding-right: 14px;
		color: #3b3b3b;
		font-family: 'Imprima', sans-serif;				
		font-style: italic;
		line-height: 1.23em;
		padding-bottom: 15px;
		border-bottom: 3px solid #f6f6f6;
		display: block;
		height: 110px;
	}
}

.article-head:hover {
	background: #87D7FF;
	color: white;
	transition: .4s;
}


ul.tags {
	padding: 0px 10px;
	list-style: none;
	z-index: 1;
}

.tags li, .tags a {
	float: left;
	height: 24px;
	line-height: 24px;
	position: relative;
	font-size: 11px;
}

.tags a {
	margin-left: 20px;
	margin-top: 10px;
	padding: 0 10px 0 12px;
	background: #BFBFBF;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	text-decoration: none;
	-moz-border-radius-bottom-right: 4px;
	-webkit-border-bottom-right-radius: 4px;	
	border-bottom-right-radius: 4px;
	-moz-border-radius-top-right: 4px;
	-webkit-border-top-right-radius: 4px;	
	border-top-right-radius: 4px;	
}

.tags a:before {
	content: "";
	float: left;
	position: absolute;
	top: 0;
	left: -12px;
	width: 0;
	height: 0;
	border-color: transparent #BFBFBF transparent transparent;
	border-style: solid;
	border-width: 12px 12px 12px 0;		
}

.tags a:after {
	content: "";
	position: absolute;
	top: 10px;
	left: 0;
	float: left;
	width: 4px;
	height: 4px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: #fff;
	-moz-box-shadow: -1px -1px 2px #004977;
	-webkit-box-shadow: -1px -1px 2px #004977;
	box-shadow: -1px -1px 2px #004977;
}

.tags a:hover {
	background:#555;
}	

.tags a:hover:before {
	border-color: transparent #555 transparent transparent;
}

.pagination-buttons {
	list-style-type: none;
	display: inline-block;
	margin-top: 3%;
	width: 100%;
	.previous {
		width: 45%;
		transition: .3s;
		&:hover {
		transition: .3s;
		color: #F7CE56;
		}
	}
	.next {
		width: 45%;
		transition: .3s;
		&:hover {
		transition: .3s;
		color: #87D7FF;
		}
	}
	.back {
		transition: .3s;
		&:hover {
		transition: .3s;
		color: #87D7FF;
		}
	}
}

.pagination-buttons a {
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;		
	letter-spacing: 0px;
	line-height: 1.023em;
	color: #3b3b3b;
	text-decoration: none;
}


/* Wobble Vertical */
@-webkit-keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.wobble-vertical {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.wobble-vertical:hover, .wobble-vertical:focus, .wobble-vertical:active {
  -webkit-animation-name: wobble-vertical;
  animation-name: wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
